/* small decktop */
@media all and (max-width: 1600px) {
  .icon-menu {
    font-size: 25px;
    color: #fff;
    float: right;
    margin-right: 8px;
    margin-top: 3px;
    opacity: 0;
  }

  .navbar {
    height: 64px;
    background: #000000;
    opacity: 0.2;
  }
  .logo {
    margin-left: 24px;
  }

  .grip48 {
    width: 24px;
    height: 24px;
    margin-left: 40px;
  }

  .alarm-bell {
    width: 24px;
    height: 24px;
  }

  .single {
    width: 28px;
    height: 28px;
    margin-left: 24px;
  }

  .text-01 {
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 65px;
  }
  .container-nav-left {
    display: flex;
  }

  .container-nav-right {
    display: flex;
  }

  .container-nav {
    position: absolute;
    display: flex;
    top: 18px;
    width: 100%;
    justify-content: space-between;
  }

  .content {
    margin-left: 40px;
  }

  .text-02 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600px;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    margin-top: 30px;
  }

  .main-content {
    margin: 30px 40px 40px 0px;
  }

  .content-02 {
    background: #212529;
    opacity: 0.8;
    border-radius: 0px 12px 12px 0px;
    width: 78%;
    
  }

  .text-ct-01 {
    margin: 25px 0 0 25px;
    display: flex;
  }

  .res-text-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .text-ct-01-regular {
    font-size: 13px;
    line-height: 40px;
  }
  .text-ct-01-bold {
    margin-left: 15px;
    font-size: 13px;
    line-height: 40px;
  }

  .icon-ct-01 {
    margin: 30px 0 10px 25px;
  }

  .db-ct-02 {
  }
  
  .detail {
    margin: 25px 15px 25px 15px;
  }

  .detail div p {
    font-size: 14px;
    margin-left: 5px;
  }
  .text-res-ct-02 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
  }
  .box-detail-1 {
    margin-right: 2px;
  }
}

@media all and (max-width: 1170px) {
  .res-text-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }

  .text-res-ct-02 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%;
  }

  .box-detail-1 {
    margin-right: 0px;
  }
}
/* tablet */
@media all and (max-width: 1120px) {
  .grip48 {
    margin-left: 25px;
  }

  .grip48 svg {
    width: 28px;
    height: 28px;
  }

  .logo {
    margin-left: 25px;
  }

  .logo svg {
    width: 150px;
    height: 28px;
  }

  .alarm-bell {
    margin-top: 2px;
    width: 24px;
    height: 24px;
  }

  .single {
    width: 28px;
    height: 28px;
    margin-left: 24px;
  }

  .text-01 {
    margin-top: 5px;
    margin-left: 8px;
  }

  .container-nav {
    top: 15px;
  }

  .content {
    margin-left: 25px;
  }

  .text-02 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 25px;
  }

  .main-content {
    margin: 25px 0;
  }

  .content-01 {
    margin: 0;
  }

  .text-ct-01 {
    margin: 20px 0 0 15px;
  }

  .text-ct-01-regular {
    font-size: 12px;
  }
  .text-ct-01-bold {
    font-size: 12px;
    margin-left: 10px;
  }

  .icon-ct-01 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-ct-01 svg {
    margin-bottom: 30px;
  }

  .db-ct-02 {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .rectangle-db-ct-02 {
    width: 45%;
    margin-bottom: 15px;
  }

  .res-text-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .text-res-ct-02 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 20px;
  }

  .box-detail-1 {
    margin-right: 35px;
  }
}

@media all and (max-width: 1170px) {
  .res-text-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }

  .text-res-ct-02 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%;
  }

  .box-detail-1 {
    margin-right: 0px;
  }
}
/* tablet */
@media all and (max-width: 1120px) {
  .grip48 {
    margin-left: 25px;
  }

  .grip48 svg {
    width: 28px;
    height: 28px;
  }

  .logo {
    margin-left: 25px;
  }

  .logo svg {
    width: 150px;
    height: 28px;
  }

  .alarm-bell {
    margin-top: 2px;
    width: 24px;
    height: 24px;
  }

  .single {
    width: 28px;
    height: 28px;
    margin-left: 24px;
  }

  .text-01 {
    margin-top: 5px;
    margin-left: 8px;
  }

  .container-nav {
    top: 15px;
  }

  .content {
    margin-left: 25px;
  }

  .text-02 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 25px;
  }

  .main-content {
    margin: 25px 0;
    height: 100%;
  }

  .content-01 {
    margin: 0;
  }

  .text-ct-01 {
    margin: 20px 0 0 15px;
  }

  .text-ct-01-regular {
    font-size: 12px;
  }
  .text-ct-01-bold {
    font-size: 12px;
    margin-left: 10px;
  }

  .icon-ct-01 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-ct-01 svg {
    margin-bottom: 30px;
  }

  .db-ct-02 {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .rectangle-db-ct-02 {
    width: 45%;
    margin-bottom: 15px;
  }

  .res-text-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
  }

  .text-res-ct-02 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 20px;
  }

  .box-detail-1 {
    margin-right: 35px;
  }
}

@media all and (max-width: 1048px) { 
  .main-content {
    height: 100%;
  }
  .detail div p {
    font-size: 22px;
  }
  .res-text-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60px;
  }
}

@media all and (max-width: 850px) { 
  .main-content {
    height: 100%;
  }

  .detail div p {
    font-size: 16px;
  }
}

@media all and (max-width: 820px) { 
  .main-content {
    height: 100%;
  }

  
}


@media all and (max-width: 768px) {
  .icon-menu {
    opacity: 1;
    margin: 20px;
  }
  .container-nav-right {
    display: none;
  }

  .content {
    margin-left: 10px;
  }

  .main-content {
    margin: 10px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .text-02 {
    font-size: 32px;
    line-height: 32px;
    margin-top: 10px;
    margin-left: 15px;
  }

  .content-01 {
    border-radius: 12px 12px;
    margin-bottom: 10px;
    width: 78%;
  }

  .content-02 {
    border-radius: 12px 12px;
  }

  .text-ct-01 {
    margin: 20px 0 0 25px;
    justify-content: center;
    align-items: center;
  }

  .text-ct-01-regular {
    font-size: 20px;
  }
  .text-ct-01-bold {
    font-size: 20px;
    margin-left: 30px;
  }

  .detail {
    margin: 25px 15px 25px 15px;
  }

  .detail div p {
    font-size: 14px;
    margin-left: 5px;
  }
  .text-res-ct-02 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 20px;
  }

  .res-text-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .box-detail-1 {
    margin-right: 100px;
    margin-left: 30px;
    
  }

  .box-detail-1 .box-detail {
    margin-bottom: 45px;
    margin-top: 15px;
  }

  .box-detail1-1 .box-detail {
    margin-bottom: 45px;
    margin-top: 15px;
  }
  .res-text-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .icon-ct-01 {
    display: inline-block;
    margin-left: 120px;
    margin-top: 30px;
  }

  .icon-ct-01 svg {
    margin-right: 15px;
    margin-bottom: 20px;
  }

  .rectangle-db-ct-02 {
    width: 130%;
  }

  .box-detail-1 {
    margin-right: 40px;
  }

  .detail div p {
    margin-left: 15px;
  }

  .main-content {
    height: 100%;
  }
  .detail div p {
    font-size: 25px;
  }
}

/* mobile */
@media all and (max-width: 655px) {
  .main-content {
    margin: 10px 20px;
    height: 100%;
  }
  .text-ct-01 {
    margin: 20px 0 0 20px;
  }
  .text-ct-01-regular {
    font-size: 16px;
}
.text-ct-01-bold {
  font-size: 16px;
}
.icon-ct-01 {
  margin-left: 80px;
}

.text-ct-02 span {
  font-size: 25px;
    line-height: 24px;
}

.text-ct-02 {
  margin: 20px 25px 0 25px;
}

.db-ct-02 {
  margin: 30px 15px 0px 10px;
  
}
.rectangle-db-ct-02 {
  width: 100%;
  margin: 10px 30px;
}

.detail div p {
  font-size: 20px;
}



}

@media all and (max-width: 580px) { 

  .db-ct-02 {
    margin: 30px 30px 0px 30px;
    
  }
  .rectangle-db-ct-02 {
    width: 120%;
  }

  .box-detail-1 {
    
  }
}

@media all and (max-width: 530px) { 

  .db-ct-02 {
    margin: 30px 30px 0px 20px;
    
  }
  .rectangle-db-ct-02 {
    width: 110%;
  }
}

@media all and (max-width: 480px) { 
  .rectangle-db-ct-02 {
    width: 105%;
  }
}

@media all and (max-width: 460px) { 
  .rectangle-db-ct-02 {
    width: 100%;
  }
}

@media all and (max-width: 440px) { 
  .rectangle-db-ct-02 {
    width: 95%;
  }

  .main-content {
    height: 100%;
  }
}

@media all and (max-width: 420px) { 
  .rectangle-db-ct-02 {
    width: 90%;
  }
  .text-ct-02 span {
    font-size: 16px;
      line-height: 18px;
  }
  .text-ct-01-regular {
    font-size: 14px;
}
.text-ct-01-bold {
  font-size: 14px;
}
.detail {
  margin: 15px 10px 15px 5px;
}
}

@media all and (max-width: 414px) { 
  .main-content {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .text-ct-01 {
    margin: 20px 0 0 10px;
}

.icon-ct-02 {
  justify-content: space-between;
  margin: 20px
}

  .rectangle-db-ct-02 {
    width: 200%;
    margin: 10px 0px 10px 10px;
  }
  .text-ct-02 span {
    font-size: 16px;
      line-height: 18px;
  }
  .text-ct-01-regular {
    font-size: 14px;
}
.text-ct-01-bold {
  font-size: 14px;
}
.detail {
  margin: 15px 10px 15px 5px;
}

.box-detail-1 {
  margin-right: 10px !important;
  margin-left: 10px;
  
}

.box-detail-1 .box-detail {
  margin-bottom: 45px;
  margin-top: 15px;
}

.box-detail1-1 .box-detail {
  margin-bottom: 45px;
  margin-top: 15px;
}
.detail div p {
  font-size: 18px;
}
.icon-ct-01 {
  margin-left: 40px;
}

}

@media all and (max-width: 375px) { 
  .main-content {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }

  .icon-ct-01 {
    margin-left: 25px;
}

.icon-ct-02 {
  justify-content: space-between;
  margin: 20px
}

  .rectangle-db-ct-02 {
    width: 250%;
    margin-left: 20px;
  }
  .text-ct-02 span {
    font-size: 16px;
      line-height: 18px;
  }
  .text-ct-01-regular {
    font-size: 14px;
}
.text-ct-01-bold {
  font-size: 14px;
}
.detail {
  margin: 15px 10px 15px 5px;
}

.box-detail-1 {
  margin-right: 10px !important;
  margin-left: 10px;
  
}

.box-detail-1 .box-detail {
  margin-bottom: 45px;
  margin-top: 15px;
}

.detail div p {
  font-size: 14px;
}

.box-detail1-1 .box-detail {
  margin-bottom: 45px;
  margin-top: 15px;
}

}

@media all and (max-width: 320px) { 
  .text-ct-01-regular p {
    font-size: 12px;
  }

  .text-ct-01-bold {
    margin: 0 0 0 10px;
  }

  .text-ct-01-bold p {
    font-size: 12px;
    
  }

  .text-ct-01 {
    margin: 15px 0px 0px 0;
  }

  .text-ct-02 {
    margin: 15px 15px;
  }
  
  .rectangle-db-ct-02 {
    margin: 10px 0px 10px -2px;
    width: 110%;
  }

  .detail div p {
    font-size: 14px;
  }

}