* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: SF Pro Display;
  src: url("./fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: SF Pro Text;
  src: url("./fonts/SF-Pro-Display-Regular.otf");
}

body {
  background: url("/assets/img/bg1.png") no-repeat center center fixed;
  background-size: cover;
}

.header {
  position: relative;
}

.icon-menu {
  font-size: 35px;
  color: #fff;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  opacity: 0;
}

.navbar {
  height: 64px;
  background: #000000;
  opacity: 0.2;
}
.logo {
  margin-left: 24px;
}

.grip48 {
  width: 24px;
  height: 24px;
  margin-left: 40px;
}

.alarm-bell {
  width: 24px;
  height: 24px;
}

.single {
  width: 28px;
  height: 28px;
  margin-left: 24px;
}

.text-01 {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 65px;
}
.container-nav-left {
  display: flex;
}

.container-nav-right {
  display: flex;
}

.container-nav {
  position: absolute;
  display: flex;
  top: 18px;
  width: 100%;
  justify-content: space-between;
}

.content {
  margin-left: 40px;
}

.text-02 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600px;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-top: 30px;
}

.main-content {
  height: 100%;
  margin: 30px 40px 40px 0px;
  display: flex;

}

.content-01 {
  background: #74b816;
  opacity: 0.8;
  border-radius: 12px 0px 0px 12px;
  width: 22%;
}

.content-02 {
  background: #212529;
  opacity: 0.8;
  border-radius: 0px 12px 12px 0px;
  width: 78%;
  
}

.text-ct-01 {
  margin: 35px 0 0 42px;
  display: flex;
}
.text-ct-01-regular {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
}
.text-ct-01-bold {
  margin-left: 23px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
}

.icon-ct-01 {
  margin-left: 42px;
  margin-top: 32px;
  margin-bottom: 10px;
}

.icon-ct-01 svg {
  margin-right: 15px;
}

.text-ct-02 {
  margin: 35px 40px 0 42px;
  display: flex;
  justify-content: space-between;
}

.text-ct-02 span {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  opacity: 0.4;
}
.VDU {
  opacity: 1 !important;
}

.icon-ct-02 {
  height: 40px;
  margin-top: 15px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.icon-ct-02 svg {
  margin-right: 10px;
}

.db-ct-02 {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.rectangle-db-ct-02 {
  background: #343a40;
  opacity: 0.95;
  border-radius: 6px;
  margin-right: 15px;
  width: 22%;
  margin-bottom: 15px;
}

.arrow {
  padding-top: 18px;
  display: flex;
}

.arrow-1 {
  background: rgba(52, 170, 255, 0.6);
}

.arrow-1-text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
  margin-left: 18px;
  margin-right: 50px;
}

.arrow-2 {
  border-top: 20px solid transparent;
  border-left: 30px solid rgba(52, 170, 255, 0.6);
  border-bottom: 20px solid transparent;
}

.detail {
  margin: 40px 20px 50px 20px;
  display: flex;
}

.box-detail-1 {
  margin-right: 20px;
  
}

.box-detail1-1 {
  margin-left: 5px;
}

.res-text-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.text-res-ct-02 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.detail div p {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin-left: 5px;
}

.box-detail {
  margin-bottom: 20px;
  display: flex;
}

/*  */
.tab-item {
  padding: 10px 40px;
  background-color: orange;
  border-radius: 2px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.active {
  background-color: orangered;
}

.show {
  -webkit-animation: silde-down 5s ease-in-out;
  -moz-animation: silde-down 10s ease-in-out;
}

@-webkit-keyframes silde-down {
  0% { opacity: 0}
  20% { opacity: 1; }
}